.App {
  text-align: center;
}


input{
  height:30px;
  align-items: center;
  justify-content:center ;
  margin: 5px;
  font-size:medium;
  background-color: #d2fcf1;
  border-color: #61dafb;
}



.App-header {
  background-color: #baffed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}


